
.chapal
{
padding-right:55px;
}
.shaolin
{
padding-right:55px;
}
#one{color:red;
padding-left:500px;
}
#two{color:green;
padding-left:580px;}

#three{height:50px;
width:50px;
background-color:green;}

p{font-size:40px;
word-spacing:370px;
padding-left:120px;
color:blue;}
h2{color:rgb(205, 92, 92);}